<div class="sidebar {{width}}" >


   

    <div class="NavMenuCssClass" (onclick)="ToggleNavMenuClick">
        <ul class="nav flex-column">
           
         
            <li class="nav-item px-3">
                <a class="nav-link" [routerLink]="['/employees']" href="">
                    <i class="fa fa-users" aria-hidden="true"></i> Employees
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="/Departments">
                    <i class="fa fa-bars" aria-hidden="true"></i> Departments
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="/Roles/Roles">
                    <i class="fa fa-bars" aria-hidden="true"></i> Roles
                </a>
            </li>
        </ul>
    </div>
</div>