<div class="row">
    <div class="col-md-12">
        <div class="navigation-otions" style="margin-bottom:30px">
            <a class="btn" [routerLink]="['/addemployee']">
                <i class="fa fa-plus-circle"></i>
                <span class="nav-text">
                    Add Employee
                </span>
            </a>
        </div>

    </div>
</div>


<div class="row">

    <div class="col-md-4" *ngFor="let x of employees">

        <app-card [employee]="x"></app-card>
    </div>
</div>